<nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="nav navbar-nav">
        <li class="nav-item mr-0" routerLinkActive="active">
            <a class="nav-link paddingR" [routerLink]="[ '/line-chart' ]">Gráfica Líneal <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mr-0" routerLinkActive="active">
            <a class="nav-link paddingR" [routerLink]="[ '/bar-chart' ]">Gráfica de Barras</a>
        </li>
        <li class="nav-item mr-0" routerLinkActive="active">
            <a class="nav-link paddingR" [routerLink]="[ '/doughnut-chart' ]">Gráfica de Dona</a>
        </li>
        <li class="nav-item mr-0" routerLinkActive="active">
            <a class="nav-link paddingR" [routerLink]="[ '/radar-chart' ]">Gráfica de Radar</a>
        </li>
        <li class="nav-item mr-0" routerLinkActive="active">
            <a class="nav-link paddingR" [routerLink]="[ '/pie-chart' ]">Gráfica Circular</a>
        </li>
        <li class="nav-item mr-0" routerLinkActive="active">
            <a class="nav-link" [routerLink]="[ '/polar-chart' ]">Gráfica de Área Polar</a>
        </li>
        <li class="nav-item mr-0" routerLinkActive="active">
            <a class="nav-link" [routerLink]="[ '/bubble-chart' ]">Gráfica de Burbujas</a>
        </li>
        <li class="nav-item mr-0" routerLinkActive="active">
            <a class="nav-link" [routerLink]="[ '/scatter-chart' ]">Gráfica de Dispersión</a>
        </li>
        <li class="nav-item mr-0" routerLinkActive="active">
            <a class="nav-link" [routerLink]="[ '/dynamic-chart' ]">Gráfica Dinámica</a>
        </li>
    </ul>
</nav>