<h4>Gráfica Circular</h4>
<hr />
<div class="row">
    <div class=" col-md-12">
      <div class="chart">
        <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
</div>
<br />
<div class="row mt-8">
    <div class="col-md-2"></div>
    <div class=" col-md-8">
        <button class="btn btn-primary mr-2" (click)="pieChartLegend=!pieChartLegend">Toggle Legend</button>
        <button class="btn btn-secondary mr-2" (click)="changeLabels()">Change Labels</button>
        <button class="btn btn-dark mr-2" (click)="addSlice()">Add Slice</button>
        <button class="btn btn-info mr-2" (click)="removeSlice()">Remove Slice</button>
        <button class="btn btn-danger" (click)="changeLegendPosition()">Change Legend Position</button>
    </div>
    <div class="col-md-2"></div>
</div>